################################
# ASP.NET Core / .NET
################################
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

################################
# Visual Studio
################################
.vs/

################################
# NuGet
################################
packages/
*.nupkg
.nuget/

################################
# Node / React / Vite
################################
node_modules/
dist/
build/
.vite/

################################
# Environment variables
################################
.env
.env.*
!.env.example

################################
# IDE
################################
.idea/
.vscode/
*.iml

################################
# Logs & temp
################################
logs/
*.log
*.tmp
*.swp
*.bak

################################
# OS
################################
.DS_Store
Thumbs.db

################################
# Test & coverage
################################
coverage/


################################
# text
################################
draft.txt
promt.txt
Prop-Tech.sln



.notebook

